:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.chart-container {
  width: 100%;
  height: 100%;
  max-height: 220px !important;
  overflow: hidden;

  .echarts-instance {
    width: 100%;
    height: 100%;
    max-height: 220px !important;
    display: block;
  }
}
