:host {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.chart-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .echarts-instance {
    width: 100%;
    height: 100%;
  }
}
