<div class="card-container type-{{ asset().asset_type.toLowerCase() }}">
  <div class="card-header">
    <div class="name-group">
      @if (asset().meta_data?.logo_url) {
      <img
        class="asset-logo"
        [src]="asset().meta_data.logo_url"
        alt="logo"
      />
      }
      <h3 class="asset-name">{{ asset().name }}</h3>
      @if (asset().asset_type === 'STOCK') {
        <span class="asset-symbol">{{ asset().symbol }}</span>
      }
    </div>
    <span class="status-badge">{{ asset().asset_type }}</span>
  </div>

  <div class="card-body">
    <div class="main-data-row">
      <div class="balance-group">
        <span class="currency">{{ displayCurrency() }}</span>
        <span class="amount">
          {{ displayAmount() | number: '1.0-0' }}
        </span>
      </div>

      @if (pnl() !== 0) {
        <div class="pnl-wrapper" [class.positive]="pnl() > 0" [class.negative]="pnl() < 0">
          <span class="arrow">{{ pnl() > 0 ? '▲' : '▼' }}</span>
          <span class="roi">{{ roi() | number: '1.1-2' }}%</span>
        </div>
      }
    </div>
  </div>

  <div class="card-footer">
    @if (asset().asset_type === 'STOCK' && marketPrice()) {
      <span class="detail-item">{{ asset().quantity | number }} 股</span>
      <span class="divider">/</span>
      <span class="detail-item price">@ {{ marketPrice() | number: '1.2-2' }}</span>
    } @else if (asset().asset_type === 'GOLD') {
      <span class="detail-item">
        {{ asset().quantity | number: '1.2-4' }} 
        {{ asset().meta_data?.unit === 'oz' ? '盎司' : '公克' }}
      </span>
      @if (marketPrice()) {
        <span class="divider">/</span>
        <span class="detail-item price">@ {{ marketPrice() | number: '1.2-2' }}</span>
      }
    } @else if (asset().asset_type === 'CASH' && exchangeRate() !== 1) {
      <span class="detail-item">匯率</span>
      <span class="divider">:</span>
      <span class="detail-item price">{{ exchangeRate() | number: '1.2-2' }}</span>
    } @else if (asset().asset_type === 'CASH' && exchangeRate() === 1) {
      <span class="detail-item" style="opacity: 0.4; font-size: 0.8rem">Base Currency</span>
    }
  </div>

  <div class="bg-decoration"></div>
</div>